{% extends "base.html" %}
{% block title %}サインアップ{% endblock %}
{% block content %}
<h1>サインアップ</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_username">社員番号</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        <label for="id_department">所属部署</label>
        {{ form.department }}
        {{ form.department.errors }}
    </div>
    <div>
        <label for="id_first_name">姓</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>
    <div>
        <label for="id_last_name">名</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>
    <div>
        <label for="id_password1">パスワード</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div>
        <label for="id_password2">パスワード（確認）</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <button type="submit">登録</button>
</form>
{% endblock %}